* {
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
}
.sidebar {
  width: 350px;
  border-radius: 1rem;
  background-color: #000;
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.main-content {
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  background-color: #121212;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0 1.5rem 0 1.5rem;
  z-index: 0;
}
.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: #ffffff;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  height: 100px;
}
.lib {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  padding: 0.5rem 0.75rem;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-options img {
  height: 1.25rem;
  width: 1.25rem;
}
.icons {
  display: flex;
  font-size: 1.25rem;
}
.icons i {
  margin-right: 1rem;
  opacity: 0.7;
}
.icons i:hover {
  opacity: 1;
}
.box {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  padding: 0.5rem 1.25rem;
  margin: 0.75rem 0 1.75rem 0;
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge {
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.sticky-nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: #121212;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
}
.sticky-nav-icons img {
  //  font-size:2rem;
  border: none;
  border-radius: 50%;
  background-color: #000;
  padding: 0.5rem;
  opacity: 0.7;
  margin-right: 0.5rem;
}
.sticky-nav-icons img:hover {
  opacity: 1;
}
.sticky-nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-nav-options .nav-item {
  margin-right: 1rem;
}
.dark-badge {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
.card {
  width: 180px;
  background-color: #232323;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  border-radius: 0.5rem;
}
.card-title {
  font-weight: 600;
}
.card-info {
  font-size: 0.75rem;
  opacity: 0.8;
}
.footer {
  height: 300px;
  display: flex;
  align-items: center;
}
.line {
  width: 90%;
  height: 50%;
  border-top: 1px solid #ffffff;
  opacity: 0.4;
}
.music-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.album {
  width: 25%;
}
.player {
  width: 50%;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}
.player-control-icon:hover {
  opacity: 1;
}
.playback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.progress-bar {
  width: 70%;
  appearance: none;
  cursor: pointer;
  border-radius: 100px;
}


.progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 100px;

  background:
    linear-gradient(#ffffff, #ffffff) 0 / 33% 100% no-repeat,
    #3a3a3a;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  display:none;
}
.progress-bar:hover::-webkit-slider-thumb {
  display:block;
}


.progress-bar:hover::-webkit-slider-runnable-track {
  background:
    linear-gradient(#1db954, #1db954) 0 / 33% 100% no-repeat,
    #3a3a3a;
}

.time {
  font-size: 0.75rem;
  opacity: 0.7;
  margin: 0 1rem;
}

.album{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.album_image{
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin-left: 1rem;
}
.album-info{
  margin-left: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
}
.album-info:hover{
  text-decoration: underline;
}
.album-icon{
  font-size: 1rem;
  margin-left: 1rem;
  opacity: 0.7;
  color: #ffffff;
}
.album-icon:hover{
  opacity: 1;
}
.controls {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.75rem;
}

.controls-icon {
  font-size: 1rem;
  margin-left: 1rem;
  opacity: 0.7;
 // font-weight: 300;
  cursor: pointer;
  transition: opacity 0.2s ease;
    background-color: transparent;

}
.controls-icon:hover {
  opacity: 1;
}
.volume-bar {
  width: 30%;
  appearance: none;
  cursor: pointer;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 0.5rem;
}


.volume-bar::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 100px;

  background:
    linear-gradient(#ffffff, #ffffff) 0 / 100% 100% no-repeat,
    #3a3a3a;
}

.volume-bar::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  display:none;
}
.volume-bar:hover::-webkit-slider-thumb {
  display:block;
}


.volume-bar:hover::-webkit-slider-runnable-track {
  background:
    linear-gradient(#1db954, #1db954) 0 / 100% 100% no-repeat,
    #3a3a3a;
}
